
@{
    ViewBag.Title = "Index";
}
<form action="/Email/LiEmailStudents" method="post">
    <div class="form-horizontal">
        <h4>Use this page to email people</h4>
        <hr />

        <div class="form-group">
            <div class="control-label col-md-2">Subject: [project code]</div>
            <div class="col-md-10">
                <div class="control-label col-md-2">
                    <input style="width:800px" type="text" name="subject" value="- Your ICT Project Detail" class="form-control" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-2">Body Intro:</div>
            <div class="col-md-10">
                <textarea class="form-control" id="TBBody" name="body" rows="5"> </textarea>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-6 col-md-10">
                <input @*type="submit"*@ value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<script src="/Scripts/jquery-3.4.1.js"></script>
<script src="/Scripts/tinymce/tinymce.js"></script>
<script>
    var text = '<p>Hi Everyone and welcome to ICT Projects for [year]. </p>';
    text += '<p>You are receiving this email because you have been assigned the role of Academic Supervisor to the ICT Project listed below. ';
    text += 'The students will be notified of their project groups by next Monday.</p> ';
    text += '<p>As an academic supervisor your role is to meet with your students for an hour each week. ';
    text += 'You will be asked to provide professional advice and act as a mentor for the group. ';
    text += 'As part of the hour meeting students must show their product back log activities for the week. ';
    text += 'Please check that the hours reported seem reasonable for the activity. ';
    text += 'This should represent ~15 hours of solid work per student. ';
    text += 'If students aren’t meeting this workload please let me know as soon as possible (stem-ictproject@unisa.edu.au).</p> ';
    text += '<hr />';
    text += '[project]';
    text += '[client]';
    text += '[staff]';
    text += '[student]';
    text += '[document]';
    text += '<p>Regards<br />';
    text += 'David Harris - ICT Coordinator <br />';
    text += 'Nicole King - ICT Admin Support</p> ';


    $('#TBBody').html(text);

    tinymce.init({
        selector: '#TBBody',
        height: 360,
        menubar: false,
        plugins: [
            "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
        ],
        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | visualchars visualblocks nonbreaking template pagebreak restoredraft",
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'],

        menubar: false,
        toolbar_items_size: 'small',

        style_formats: [{
            title: 'Bold text',
            inline: 'b'
        }, {
            title: 'Red text',
            inline: 'span',
            styles: {
                color: '#ff0000'
            }
        }, {
            title: 'Red header',
            block: 'h1',
            styles: {
                color: '#ff0000'
            }
        }, {
            title: 'Example 1',
            inline: 'span',
            classes: 'example1'
        }, {
            title: 'Example 2',
            inline: 'span',
            classes: 'example2'
        }, {
            title: 'Table styles'
        }, {
            title: 'Table row 1',
            selector: 'tr',
            classes: 'tablerow1'
        }],

        templates: [{
            title: 'Test template 1',
            content: 'Test 1'
        }, {
            title: 'Test template 2',
            content: 'Test 2'
        }],

        init_instance_callback: function () {
            window.setTimeout(function () {
                $("#div").show();
            }, 1000);
        }
    });

</script>

